name: Build Bookdown

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: "4.4.0"

      - name: Install system dependencies
        run: |
          brew update
          brew install openjdk        # Install Java
          export JAVA_HOME=$(/usr/libexec/java_home)
          java -version

      - name: Build bookdown
        run: |
          Rscript -e "bookdown::render_book('index.Rmd', output_format = 'bookdown::gitbook')"
